@import 'reset';
@import 'config';

.wrap {
    position: relative;
    min-height: 100vh;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(483px);
        height: 100vh;
        background-color: #21092F;
        z-index: -1;
    }
}

.cards {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 29vw;
    .card {
        position: relative;
        width: calc(100% - 98px);
        padding-top: 44.8%;
        border-radius: 8px;
        background: {
            repeat: no-repeat;
            position: center;
            size: cover;
        };
        &.front {
            margin-bottom: 37px;
            background: {
                image: url('/assets/bg-card-front.png');
            };
            transform: translateX(-10px);
            & > div {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 26.5px;
                width: calc(100% - 64px);
                color: #fff;
                & > span {
                    display: block;
                    margin-bottom: rem(25.5px);
                    font-size: 1.15vw;
                    letter-spacing: 3.42px;
                }
                ul {
                    @include flexBox($jc:space-between);
                    font-size: 0.8vw;
                    line-height: lh(17.86px, 14px);
                    letter-spacing: 2px;
                }
            }
        }
        &.back {
            transform: translateX(100px);
            background: {
                image: url('/assets/bg-card-back.png');
            };
            span {
                position: absolute;
                top: 45%;
                right: 12%;
                font-size: 0.8vw;
                line-height: lh(17.86px, 14px);
                letter-spacing: 2px;
                color: #fff;
            }
        }
    }
}

.forms {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    width: 21.22vw;
    background-color: #fff;
    li ~ li {
        margin-top: 26px;
    }
    li:not(.half) {
        input {
            width: 100%;
        }
    }
    .half {
        @include flexBox;
        gap: 20px;
        & > div {
            width: 50%;
            & > input {
                width: 100%;
            }
            & > div {
                @include flexBox;
                width: 100%;
                gap: 10px;
                & > input {
                    width: 50%;
                }
            }
        }
    }
    /* 공통사항 */
    .flex-dirc {
        @include flexBox($ai:flex-start,$fd:column);
    }
    span {
        display: block;
        margin-bottom: 9px;
        font-size: rem(12px);
        line-height: lh(15.31px, 12px);
        color: #21092F;
        letter-spacing: 2px;
    }
    input {
        padding: 11px 16px;
        border: 1px solid #DFDEE0;
        border-radius: 8px;
        font-size: rem(18px);
        line-height: lh(22.97px, 18px);
        box-sizing: border-box;
        &::placeholder {
            color: rgba(#21092F, 0.25);
        }
    }
    button {
        @include btnReset;
        @include wh(100%, 53px);
        margin-top: rem(40px);
        border-radius: 8px;
        background-color: #21092F;
        font-size: rem(18px);
        line-height: lh(23px, 18px);
        color: #fff;
    }
}

@media (max-width: 1399px) {
    .wrap {
        @include flexBox($fd: column);
        &::before {
            width: 100vw;
            height: 40vh;
        }
    }
    .cards,
    .forms {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        transform: translateY(0);
    }
    .cards {
        display: flex;
        flex-direction: column-reverse;
        width: 400px;
        max-width: calc(100% - 20px);
        .card {
            &.front {
                z-index: 3;
                transform: translateX(15px);
            }
            &.back {
                transform: translate(90px, 65px);
            }
        }
    }
    .forms {
        width: 381px;
        max-width: calc(100% - 48px);
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .forms {
        width: 100%;
    }
}